<% raw_ai_settings = @settings || {} %>
<% normalized_ai_settings = {} %>
<% raw_ai_settings.each { |key, value| normalized_ai_settings[key.to_s] = value } if raw_ai_settings.respond_to?(:each) %>
<% ai_settings = RedminePluginCheck::AiSettings::DEFAULTS.merge(normalized_ai_settings) %>
<% ai_settings_object = RedminePluginCheck::AiSettings.new(ai_settings) %>
<% ai_provider_presets = RedminePluginCheck::AiSettings::PROVIDER_PRESETS %>
<% ai_api_key_values = {} %>
<% ai_api_key_field_ids = {} %>
<% ai_provider_presets.keys.each do |preset_key| %>
  <% setting_key = RedminePluginCheck::AiSettings.api_key_setting_key(preset_key) %>
  <% saved_value = ai_settings[setting_key].to_s %>
  <% saved_value = ai_settings['ai_api_key'].to_s if saved_value.blank? && preset_key == ai_settings_object.provider_preset %>
  <% ai_api_key_values[preset_key] = saved_value %>
  <% ai_api_key_field_ids[preset_key] = "settings_#{setting_key}" %>
<% end %>

<% ai_model_values = {} %>
<% ai_model_field_ids = {} %>
<% ai_provider_presets.keys.each do |preset_key| %>
  <% setting_key = RedminePluginCheck::AiSettings.model_setting_key(preset_key) %>
  <% saved_value = normalized_ai_settings[setting_key].to_s %>
  <% saved_value = normalized_ai_settings['ai_model'].to_s if saved_value.blank? && preset_key == ai_settings_object.provider_preset %>
  <% saved_value = ai_provider_presets[preset_key]['model'].to_s if saved_value.blank? %>
  <% ai_model_values[preset_key] = saved_value %>
  <% ai_model_field_ids[preset_key] = "settings_#{setting_key}" %>
<% end %>


<p>
  <label><%= l(:label_ai_analysis_enabled) %></label>
  <%= hidden_field_tag 'settings[ai_enabled]', '0' %>
  <%= check_box_tag 'settings[ai_enabled]', '1', ai_settings['ai_enabled'].to_s == '1' %>
</p>

<p>
  <label><%= l(:label_ai_provider_preset) %></label>
  <%= select_tag 'settings[ai_provider_preset]', options_for_select(RedminePluginCheck::AiSettings.provider_preset_options, ai_settings_object.provider_preset), :id => 'settings_ai_provider_preset' %>
  <%= link_to l(:button_ai_test_connection),
              plugin_check_ai_test_connection_path,
              :class => 'icon icon-checked',
              :id => 'settings_ai_test_connection' %>
  <span class="plugin-check-ai-progress" id="settings_ai_test_connection_progress" style="display:none;">
    <span class="plugin-check-ai-spinner"></span>
    <span><%= l(:text_ai_test_connection_connecting) %></span>
  </span>
  <em class="info"><%= l(:text_ai_test_connection_saved_settings) %></em>
</p>

<p>
  <label><%= l(:label_ai_provider_label) %></label>
  <%= text_field_tag 'settings[ai_provider_label]', ai_settings['ai_provider_label'], :size => 40, :id => 'settings_ai_provider_label' %>
</p>

<p>
  <label><%= l(:label_ai_endpoint) %></label>
  <%= text_field_tag 'settings[ai_endpoint]', ai_settings['ai_endpoint'], :size => 80, :id => 'settings_ai_endpoint' %>
</p>

<p>
  <label><%= l(:label_ai_api_key_env) %></label>
  <%= text_field_tag 'settings[ai_api_key_env]', ai_settings['ai_api_key_env'], :size => 40, :id => 'settings_ai_api_key_env' %>
</p>

<p>
  <label><%= l(:label_ai_api_key) %></label>
  <% ai_api_key_values.each do |preset_key, api_key_value| %>
    <%= hidden_field_tag "settings[#{RedminePluginCheck::AiSettings.api_key_setting_key(preset_key)}]", api_key_value, :id => ai_api_key_field_ids[preset_key] %>
  <% end %>
  <%= hidden_field_tag 'settings[ai_api_key]', ai_settings['ai_api_key'] %>
  <%= password_field_tag "settings[#{RedminePluginCheck::AiSettings.api_key_setting_key(ai_settings_object.provider_preset)}]", ai_api_key_values[ai_settings_object.provider_preset], :size => 80, :autocomplete => 'off', :id => 'settings_ai_api_key' %>
  <em class="info"><%= l(:text_ai_api_key_env_preferred) %></em>
</p>

<p>
  <label><%= l(:label_ai_model) %></label>
  <% ai_model_values.each do |preset_key, model_value| %>
    <%= hidden_field_tag "settings[#{RedminePluginCheck::AiSettings.model_setting_key(preset_key)}]", model_value, :id => ai_model_field_ids[preset_key] %>
  <% end %>
  <%= hidden_field_tag 'settings[ai_model]', ai_settings['ai_model'] %>
  <% current_model_value = ai_model_values[ai_settings_object.provider_preset] %>
  <%= text_field_tag "settings[#{RedminePluginCheck::AiSettings.model_setting_key(ai_settings_object.provider_preset)}]", current_model_value, :size => 40, :id => 'settings_ai_model' %>
  <%= button_tag l(:button_ai_fetch_models), :type => 'button', :id => 'settings_ai_fetch_models', :class => 'icon icon-reload' %>
  <%= select_tag "settings[#{RedminePluginCheck::AiSettings.model_setting_key(ai_settings_object.provider_preset)}]", options_for_select([[current_model_value, current_model_value]], current_model_value), :id => 'settings_ai_model_select', :style => 'display:none' %>
  <em class="info" id="settings_ai_model_status"></em>
  <em class="info" id="settings_ai_model_note"><%= l(:text_ai_fetch_models_saved_settings_required) %></em>
</p>

<p>
  <label><%= l(:label_ai_timeout_seconds) %></label>
  <%= text_field_tag 'settings[ai_timeout_seconds]', ai_settings['ai_timeout_seconds'], :size => 8 %>
</p>

<p>
  <label><%= l(:label_ai_max_prompt_characters) %></label>
  <%= text_field_tag 'settings[ai_max_prompt_characters]', ai_settings['ai_max_prompt_characters'], :size => 12 %>
</p>

<p>
  <label><%= l(:label_ai_system_prompt) %></label>
  <%= text_area_tag 'settings[ai_system_prompt]', ai_settings_object.system_prompt, :cols => 80, :rows => 6 %>
</p>
<script type="text/javascript">
//<![CDATA[
(function() {
  var presets = <%= raw ai_provider_presets.to_json %>;
  var apiKeyValues = <%= raw ai_api_key_values.to_json %>;
  var apiKeyFieldIds = <%= raw ai_api_key_field_ids.to_json %>;
  var modelValues = <%= raw ai_model_values.to_json %>;
  var modelFieldIds = <%= raw ai_model_field_ids.to_json %>;
  var apiKeySettingKeys = <%= raw Hash[ai_provider_presets.keys.map { |preset_key| [preset_key, RedminePluginCheck::AiSettings.api_key_setting_key(preset_key)] }].to_json %>;
  var modelSettingKeys = <%= raw Hash[ai_provider_presets.keys.map { |preset_key| [preset_key, RedminePluginCheck::AiSettings.model_setting_key(preset_key)] }].to_json %>;
  var select = document.getElementById('settings_ai_provider_preset');
  var fetchModels = document.getElementById('settings_ai_fetch_models');
  var modelSelect = document.getElementById('settings_ai_model_select');
  var modelStatus = document.getElementById('settings_ai_model_status');
  var modelNote = document.getElementById('settings_ai_model_note');
  var apiKeyField = document.getElementById('settings_ai_api_key');
  var currentPreset = select ? select.value : null;
  var testConnection = document.getElementById('settings_ai_test_connection');
  var testConnectionProgress = document.getElementById('settings_ai_test_connection_progress');
  if (!select) { return; }

  function setValue(id, value) {
    var field = document.getElementById(id);
    if (field) { field.value = value || ''; }
  }

  function geminiEndpoint(model) {
    return 'https://generativelanguage.googleapis.com/v1beta/models/' + encodeURIComponent(model) + ':generateContent';
  }

function setDisabledField(field, disabled) {
  if (!field) { return; }
  field.disabled = disabled;
}

function setVisibleFieldName(field, settingKey) {
  if (field && settingKey) { field.name = 'settings[' + settingKey + ']'; }
}

function syncApiKeyHiddenFields(activePreset) {
  for (var preset in apiKeyFieldIds) {
    if (apiKeyFieldIds.hasOwnProperty(preset)) {
      setDisabledField(document.getElementById(apiKeyFieldIds[preset]), preset === activePreset);
    }
  }
}

function syncModelHiddenFields(activePreset) {
  for (var preset in modelFieldIds) {
    if (modelFieldIds.hasOwnProperty(preset)) {
      setDisabledField(document.getElementById(modelFieldIds[preset]), preset === activePreset);
    }
  }
}

function saveCurrentApiKey() {
  if (!apiKeyField || !currentPreset) { return; }
  apiKeyValues[currentPreset] = apiKeyField.value;
  var hidden = document.getElementById(apiKeyFieldIds[currentPreset]);
  if (hidden) { hidden.value = apiKeyField.value; }
}

function loadApiKeyForPreset(preset) {
  if (apiKeyField) {
    apiKeyField.value = apiKeyValues[preset] || '';
    setVisibleFieldName(apiKeyField, apiKeySettingKeys[preset]);
  }
  syncApiKeyHiddenFields(preset);
}

function saveCurrentModel() {
  if (!currentPreset) { return; }

  modelValues[currentPreset] = currentModelValue();
  var hidden = document.getElementById(modelFieldIds[currentPreset]);
  if (hidden) { hidden.value = modelValues[currentPreset]; }
}

function useModelTextInput() {
  var modelField = document.getElementById('settings_ai_model');
  if (modelSelect) {
    modelSelect.name = 'settings_ai_model_select';
    modelSelect.disabled = true;
    modelSelect.style.display = 'none';
  }
  if (modelField) {
    setVisibleFieldName(modelField, modelSettingKeys[currentPreset]);
    modelField.disabled = false;
    modelField.style.display = '';
  }
}

function ensureModelSelectOption(value) {
  if (!modelSelect || !value) { return; }

  for (var i = 0; i < modelSelect.options.length; i++) {
    if (modelSelect.options[i].value === value) {
      modelSelect.selectedIndex = i;
      return;
    }
  }

  var option = document.createElement('option');
  option.value = value;
  option.text = value;
  option.selected = true;
  modelSelect.insertBefore(option, modelSelect.firstChild);
}

function useModelSelectInput() {
  var modelField = document.getElementById('settings_ai_model');
  if (!modelSelect || !modelField) { return; }

  ensureModelSelectOption(modelField.value);
  modelSelect.name = modelField.name;
  modelSelect.disabled = false;
  modelSelect.style.display = '';
  modelField.disabled = true;
  modelField.style.display = 'none';
}

function loadModelForPreset(preset) {
  var modelField = document.getElementById('settings_ai_model');
  if (!modelField) { return; }

  modelField.value = modelValues[preset] || (presets[preset] ? presets[preset].model : '');
  setVisibleFieldName(modelField, modelSettingKeys[preset]);
  syncModelHiddenFields(preset);
}

function currentModelValue() {
  if (modelSelect && !modelSelect.disabled && modelSelect.style.display !== 'none') {
    return modelSelect.value;
  }

  var modelField = document.getElementById('settings_ai_model');
  return modelField ? modelField.value : '';
}

function modelListSupported() {
  return select && (select.value === 'openai' || select.value === 'gemini' || select.value === 'claude');
}

function updateModelControls() {
  var supportsModels = modelListSupported();
  if (fetchModels) { fetchModels.style.display = supportsModels ? '' : 'none'; }
  if (modelNote) { modelNote.style.display = supportsModels ? '' : 'none'; }
  if (supportsModels) { useModelSelectInput(); } else { useModelTextInput(); }
  if (!supportsModels && modelStatus) { modelStatus.innerHTML = ''; }
}

select.onchange = function() {
  saveCurrentApiKey();
  saveCurrentModel();
  currentPreset = select.value;
  loadApiKeyForPreset(currentPreset);
  loadModelForPreset(currentPreset);

  var preset = presets[select.value];
  if (!preset || select.value === 'custom') {
    updateModelControls();
    return;
  }

  setValue('settings_ai_provider_label', preset.provider_label);
  setValue('settings_ai_endpoint', preset.endpoint);
  setValue('settings_ai_api_key_env', preset.api_key_env);
  if (select.value === 'gemini') { setValue('settings_ai_endpoint', geminiEndpoint(currentModelValue())); }
  updateModelControls();
};

if (apiKeyField && apiKeyField.form) {
  apiKeyField.form.onsubmit = function() {
    saveCurrentApiKey();
    saveCurrentModel();
    return true;
  };
}


  if (fetchModels) {
    fetchModels.onclick = function() {
      if (!modelStatus || !modelSelect) { return; }
      modelStatus.innerHTML = '<%= j l(:text_ai_fetching_models) %>';
      fetch('<%= plugin_check_ai_models_path %>', { credentials: 'same-origin' })
        .then(function(response) { return response.json().then(function(data) { return { ok: response.ok, data: data }; }); })
        .then(function(result) {
          if (!result.ok || !result.data.success) { throw new Error(result.data.message || '<%= j l(:text_ai_models_fetch_failed) %>'); }
          var selectedModel = currentModelValue();
          var selectedModelFound = false;
          modelSelect.innerHTML = '';
          result.data.models.forEach(function(model) {
            var option = document.createElement('option');
            option.value = model;
            option.text = model;
            if (model === selectedModel) {
              option.selected = true;
              selectedModelFound = true;
            }
            modelSelect.appendChild(option);
          });
          if (!selectedModelFound && selectedModel) {
            var currentOption = document.createElement('option');
            currentOption.value = selectedModel;
            currentOption.text = selectedModel;
            currentOption.selected = true;
            modelSelect.insertBefore(currentOption, modelSelect.firstChild);
          }
          useModelSelectInput();
          modelStatus.innerHTML = '<%= j l(:text_ai_select_model) %>';
        })
        .catch(function(error) {
          useModelTextInput();
          modelStatus.innerHTML = error.message;
        });
    };
  }

  if (modelSelect) {
    modelSelect.onchange = function() {
      setValue('settings_ai_model', modelSelect.value);
      saveCurrentModel();
      if (select.value === 'gemini') { setValue('settings_ai_endpoint', geminiEndpoint(modelSelect.value)); }
    };
  }

  if (testConnection) {
    testConnection.onclick = function() {
      if (testConnectionProgress) { testConnectionProgress.style.display = 'inline-flex'; }
      testConnection.className = testConnection.className + ' disabled';
      testConnection.innerHTML = '<%= j l(:text_ai_test_connection_connecting) %>';
      return true;
    };
  }

  loadApiKeyForPreset(currentPreset);
  loadModelForPreset(currentPreset);
  updateModelControls();
}());
//]]>
</script>

<p class="plugin-check-settings-footer-link" id="plugin-check-settings-footer-link">
  <%= link_to l(:label_back_to_plugin_check), plugin_check_path, :class => 'plugin-check-settings-button' %>
</p>

<script type="text/javascript">
//<![CDATA[
(function() {
  function movePluginCheckFooterLink() {
    var footer = document.getElementById('plugin-check-settings-footer-link');
    if (!footer) { return; }

    var node = footer;
    while (node && node.tagName && node.tagName.toLowerCase() !== 'form') {
      node = node.parentNode;
    }
    if (!node) { return; }

    var inputs = node.getElementsByTagName('input');
    for (var i = 0; i < inputs.length; i++) {
      if (inputs[i].type === 'submit') {
        inputs[i].parentNode.insertBefore(footer, inputs[i].nextSibling);
        break;
      }
    }
  }

  if (window.addEventListener) {
    window.addEventListener('load', movePluginCheckFooterLink, false);
  } else if (window.attachEvent) {
    window.attachEvent('onload', movePluginCheckFooterLink);
  }
}());
//]]>
</script>
