<% raw_ai_settings = @settings || {} %>
<% normalized_ai_settings = {} %>
<% raw_ai_settings.each { |key, value| normalized_ai_settings[key.to_s] = value } if raw_ai_settings.respond_to?(:each) %>
<% ai_settings = RedminePluginCheck::AiSettings::DEFAULTS.merge(normalized_ai_settings) %>
<% ai_settings_object = RedminePluginCheck::AiSettings.new(ai_settings) %>

<p>
  <label><%= l(:label_ai_analysis_enabled) %></label>
  <%= hidden_field_tag 'settings[ai_enabled]', '0' %>
  <%= check_box_tag 'settings[ai_enabled]', '1', ai_settings['ai_enabled'].to_s == '1' %>
</p>

<p>
  <label><%= l(:label_ai_provider_label) %></label>
  <%= text_field_tag 'settings[ai_provider_label]', ai_settings['ai_provider_label'], :size => 40 %>
</p>

<p>
  <label><%= l(:label_ai_endpoint) %></label>
  <%= text_field_tag 'settings[ai_endpoint]', ai_settings['ai_endpoint'], :size => 80 %>
</p>

<p>
  <label><%= l(:label_ai_api_key_env) %></label>
  <%= text_field_tag 'settings[ai_api_key_env]', ai_settings['ai_api_key_env'], :size => 40 %>
</p>

<p>
  <label><%= l(:label_ai_api_key) %></label>
  <%= password_field_tag 'settings[ai_api_key]', ai_settings['ai_api_key'], :size => 80, :autocomplete => 'off' %>
  <em class="info"><%= l(:text_ai_api_key_env_preferred) %></em>
</p>

<p>
  <label><%= l(:label_ai_model) %></label>
  <%= text_field_tag 'settings[ai_model]', ai_settings['ai_model'], :size => 40 %>
</p>

<p>
  <label><%= l(:label_ai_timeout_seconds) %></label>
  <%= text_field_tag 'settings[ai_timeout_seconds]', ai_settings['ai_timeout_seconds'], :size => 8 %>
</p>

<p>
  <label><%= l(:label_ai_max_prompt_characters) %></label>
  <%= text_field_tag 'settings[ai_max_prompt_characters]', ai_settings['ai_max_prompt_characters'], :size => 12 %>
</p>

<p>
  <label><%= l(:label_ai_system_prompt) %></label>
  <%= text_area_tag 'settings[ai_system_prompt]', ai_settings_object.system_prompt, :cols => 80, :rows => 6 %>
</p>
